<nav class="links">
  {{#link-to "about" class="menu-about"}}
    <strong {{action "aboutVisualize"}}>About</strong>
  {{/link-to}}
  
  {{#link-to "features" class="menu-features"}}
    <strong {{action "featureVisualize"}}>Features</strong>
  {{/link-to}}
</nav>
{{yield}}
