<nav class="links">
  {{#link-to "about" class="menu-about"}}
    <strong>About</strong>
  {{/link-to}}
  
  {{#link-to "features" class="menu-features"}}
    <strong>Features</strong>
  {{/link-to}}
</nav>
{{yield}}
