body {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: sans-serif;
}

a,
a:hover,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

#ember174 #container {
  position: relative;
}

#ember174 #header {
  text-align: right;
  margin: 0 auto;
  padding: 0 1em;
}

#ember174 #header h1 {
  font-variant: small-caps;
}

#ember174 .links {
  font-variant: all-petite-caps;
  text-align: right;
  margin: 0 auto;
  padding: 0 1em;
}

#ember174 .content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#ember174 .content a,
#ember174 .content a:hover,
#ember174 .content a:visited {
  color: #165072;
  text-decoration: none;
}

#ember177 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#VisualizerCanvas {
  height: 100%;
  width: 100%;
}
