<p>This project is an example of using architectural visualisation to create an interactive user interface.</p>

<p>Developed using Ember and xeogl. </p>

<p>The source code for this project is available on github.</p>

<p><a href="https://github.com/vladturda/virtual-architecture-ui-demo">github.com/vladturda/virtual-architecture-ui-demo</a></p>

<p>Vlad Turda 2019</p>

{{outlet}}
