<div id="container">

  <header id="header">
    {{#link-to "index"}}
      <h1>architectural UI</h1>
    {{/link-to}}
  </header>

  <Navigation />
  
  <Visualizer @route={{this.currentPath}} />

  <div class="content">
    {{outlet}}
  </div>
</div>
