<Visualizer />

<div id="container">

  <header id="header">
    {{#link-to "index"}}
      <h1>architectural UI</h1>
    {{/link-to}}
  </header>

  <nav class="links">
    {{#link-to "about" class="menu-about"}}
      <strong>About</strong>
    {{/link-to}}
  </nav>

  <div class="content">
    {{outlet}}
  </div>
</div>
