  <div id="container">

    <header id="header">
      {{#link-to "index"}}
        <h1>architectural UI</h1>
      {{/link-to}}
    </header>

    <Visualizer @navigation={{component "navigation"}}>
    </Visualizer>

    <div class="content">
      {{outlet}}
    </div>
  </div>
